/** CSS resets **/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 5rem;
}

header > h1 {
    font-family:  'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: calc(100vh - 5rem);
}

main > table {
    width: 89%;
    border: solid black 3px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

main > table td {
    text-align: center;
    border: solid black 1px;
}